.main{
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
}
/*Стили для Sing up*/
.singup{
  margin: auto;
  padding-top: 9px;
  background-color: #000;
  color: #fff;
  height: 38px;
  text-align: center;
}
.singup p{
font-weight: 400;
font-size: 14px;
}
.singup a{
  text-decoration: underline;
}

/*Стили для header*/
.header{
      margin: 0 auto;
      width: 1300px;
      height: 48px;
      display: flex;
      margin-top: 24px;
      margin-bottom: 24px;
      gap: 24px;
}

.logo{
    display: inline-block;
    float: none;
    position: relative;
    padding-bottom: 10px;
    margin-right: 15px;
    width: 160px;
    height: 22px;
}

.header ul {
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
     display: inline-flex;
     width: 321px;
     height: 22px;
     list-style-type: none;
}

.header li+li {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 400;
}

.search_block {
  width: 577px;
  height: 48px;
  display: flex;
  margin: 0 auto;
  margin-right: 24px;
}
.search {
  width: calc(100% - 54px);
  height: auto;
  background-color: #F0F0F0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 0;
  padding-left: 15px;
}
.submit {
  background: url("https://img.icons8.com/ffffff/search") center center/50% auto
    no-repeat #F0F0F0;
  border: 0;
  width: 54px;
  height: auto;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.buttons{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    padding-left: 5px;
    width: 62px;
    height: 26px;
}

.hrheader{
  margin: auto ;
  width: 1240px;
  border: 1px solid #0000001A;
  margin-bottom: 24px;
}

/*Стили для фильтра*/

.filter {
  width: 295px;
  height: 1240px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 30px;
  margin-right: 24px;
}

.filter_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter_header h4{
   font-weight: 700;
  font-size: 20px;
}

.typethings{
  width: 247px;
  height: 160px;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.typethings li{
  color: #00000099;
   width: 247px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.filter_item {
  margin-top: 20px;
}

.h4 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.colors {
  width: 247px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.color_dot {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #00000099;
}

.color_dot.selected {
  border: 1px solid #00000000;
}

.price_values {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.input[type="range"] {
  width: 100%;
}

.hr{
  margin-top: 14px;
  border: 1px solid #0000001A;
  width: 247px;
}
.prise h2{
  margin-top: 14px;
  font-weight: 700;
  font-size: 20px;
}

.sizes {
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.size {
  padding: 5px 10px;
  border: 1px solid #F0F0F0;
  border-radius: 62px;
  cursor: pointer;
  max-width: 98px;
  height: 39px;
  font-family: Satoshi;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #00000099;
}

.size.selected {
  background-color: black;
  color: white;
}

.apply_btn {
  margin-top: 24px;
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 35px;
  border: none;
  cursor: pointer;
}

/*Стили для карточек товаров*/

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
   
}
.cards h1{
  width: 925px;
  height: 51px;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 32px;
}

.card_name{
  margin-top: 7px;
font-weight: 700;
font-size: 20px;
}

/* .productCard{
    width: 295px;
    border-radius: 20px;
    margin-bottom: 17px;
} */
.rating{
 font-weight: 400;
 font-size: 14px;
}
.photoclothing{
width: 295px;
height: 298px;
}

.ratingnumber{
  display: flex;
  margin-top: 15px;
  margin-left: 25px;
}
/*Стили для слайдера*/

.hrbottom{
  width: 920px;
  margin: 50px 400px;
  border: 1px solid #0000001A;
}
.slider{
  margin: 50px 400px;
  max-width: 920px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.previous{
  padding: 0;
  width: 110px;
  height: 36px;
  border: 1px solid #0000001A;
  background-color: #fff;
  border-radius: 8px;
 font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  align-items: baseline;
  margin-right: 200px;
}
.previous Image{
  margin-top: 10px;
  margin-right: 10px;
}

.next{
  padding: 0;
  width: 110px;
  height: 36px;
  border: 1px solid #0000001A;
  background-color: #fff;
  border-radius: 8px;
 font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  align-items: baseline;
  margin-left: 200px;
}

.numberpages{
  width: 292px;
  height: 40px;
  display: flex;
}

.numberpages a{
  width: 40px;
  height: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}

/*Стили для формы обратной связи*/

.newsletters{
  flex: 1;
  left: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 35px;
    width: 100%;
    max-width: 1240px;
    height: 180px;
    margin: 0 auto;
    margin-top: -130px;
}

.newsletters h2{
  flex: 2;
}
.textblock{
  width: 551px;
  height: 94px;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 0%;
  margin-left: 65px;
  font-weight: bold;
}
.formletter{
  width: 394px;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.formletter i{
  display: flex;
  padding-left: 10px;
}
.newsletters input {
    width: 394px;
    padding: 10px;
    border-radius: 25px;
    border: none;
    outline: none;
     background-color: #fff;
     color: #000;
}

.newsletters button{
 padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    width: 394px;
}

/*Стили для footer*/

.footer {
  flex: 2;
  margin-top: 210px;
  width: 1441px;
  height: 500px;
  background-color: #F0F0F0;
  padding: 40px 20px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1240px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 30px;
}

.left {
  flex: 1;
  max-width: 248px;
  height: 177px;
  margin-right: 100px;
}

.logo {
  font-weight: 700;
  font-size: 33.45px;
  margin-bottom: 24px;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin: 20px 0;
  color: #00000099;
}

.socialIcons {
  display: flex;
  gap: 10px;
}
.socialIcons a{
  width: 28px;
  height: 28px;
  background-color: #fff;
  border-radius: 50%;
  align-items: center;
  border: 1px solid #00000033;
}

.icon {
  background-color: #fff;
  border-radius: 50%;
  text-decoration: none;
}
.icon i{
  padding: 5.5px 5.5px;
  width: 11px;
  height: 11px;
  align-items: center;
}
.icon i .facebook{
  width: 28px;
  height: 28px;
  background-color: #000;
}

.linksContainer {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 26px;
}

.columnTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
   margin-bottom: 20px;
}

.linkList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.linkList li {
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: 0px;
margin-bottom: 8px;
  color: #00000099;
  cursor: pointer;
  margin-bottom: 20px;
}

.linkList li:hover {
  text-decoration: underline;
}

.rightspays {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  max-width: 1240px;
  margin-top: 24px;
}

.copyright {
font-weight: 400;
font-size: 14px;
text-align: right;
margin-bottom: 10px;
 color: #00000099;
}

.paymentIcons {
  display: flex;
  max-width: 281px;
  height: 31px;
  }

.paymentIcons Image {
  align-items: right;
}
.hrfooter{
  border: 1px solid #0000001A
}

/* Стили страницы товара*/

.photoblock{
  margin-left: 70px;
  display: flex;
  gap: 10px;
}
.photoblock_mini{
 width: 152;
height: 167;

border-radius: 20px;
}

.photoblock_max{
width: 444;
height: 530;
border-radius: 60px;
margin-right: 30px;
}

.pageproduct{
   width: 1240px;
   height: 530px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   gap: 24px;
}
.nameproduct{
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  margin-left: 65px;
  font-weight: bold;
  margin-left: 0;
  
}
.rating{
  margin-top: 14px;
}
.rating_span{
  margin-top: 17px;
  margin-left: 5px;
font-family: Satoshi;
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
}

.price_discount{
  margin-top: 14px;
 display: flex;
 gap: 10px;

font-weight: 700;
font-size: 32px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
}

.price_discount_first {
font-weight: 700;
font-size: 32px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
}

.price_discount_second{
font-weight: 700;
font-size: 32px;
vertical-align: middle;
text-decoration: line-through;
color: #0000004D;
}

.price_discount_percentage{
width: 72;
height: 34;
top: 321px;
left: 938px;
border-radius: 62px;
gap: 10px;
padding-top: 3px;
padding-right: 14px;
padding-bottom: 0;
padding-left: 14px;
text-decoration: none;
color: #FF3333;
background: #FF33331A;
font-weight: 500;
font-size: 16px;
text-decoration: none;
}

.aboutproduct{
margin-top: 24px;
font-weight: 400;
font-size: 16px;
color: #00000099;

line-height: 22px;
letter-spacing: 0%;

}

.titlereviews{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.titlereviews a {
  margin-left: 150px;
margin-right: 200px;
margin-bottom: 24px;
font-weight: 500;
font-size: 20px;
line-height: 22px;
text-align: center;
}
.hrreviews{
 border: 1px solid #0000001A;
 margin-bottom: 24px;
}

.h3reviews{
font-weight: 700;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
margin-right: 5px;

}
.reviewscontainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 17px;
}
.reviews{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 610;
  height: 241;
  margin-top: 40px;
  border-width: 1px;
  border-radius: 20px;
  
  border: 1px solid #0000001A;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 5px;
  padding-left: 32px;
}

.morereviews{
width: 230px;
height: 52px;
margin: 24px auto;
border-width: 1px;
border-radius: 62px;
border: 1px solid #0000001A;
gap: 12px;
padding-top: 16px;
padding-bottom: 16px;
padding-right: 15px;
padding-left: 45px;
}

.morereviews_text{
font-weight: 500;
font-size: 16px;
}

.h2productlist{
  margin-top: 100px;
font-weight: 700;
font-size: 48px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;

}

.alsolike{
  display: flex;
  flex-direction: row;
}
.alsolike_dress{
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  gap: 24px;
}

.page_price_discount_first {
font-weight: 700;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
margin-right: 10px;
}

.page_price_discount_second{
font-weight: 700;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
color: #0000004D;
margin-right: 10px;
}

.page_price_discount_percentage{
width: 72;
height: 34;
border-radius: 62px;
gap: 15px;
padding-top: 3px;
padding-right: 14px;
padding-bottom: 0;
padding-left: 14px;
text-decoration: none;
color: #FF3333;
background: #FF33331A;
font-weight: 500;
font-size: 12px;
text-decoration: none;
}

.reviewsblock{
 display: flex;
 align-items: center;
 margin-bottom: -20px;
 margin-left: -110px;
}